<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code verification</title>
</head>
<body>
<div class="container" style=
        "margin: auto;
        width: 30%;
        border: 3px solid #660466;
        padding: 10px;">
    <div class="header" style="text-align: center;">
        <h1 class="text">Hello, ${username}! Please confirm your email using code</h1>
    </div>
    <div class="body" style="text-align: center;">
        <img src="https://steamuserimages-a.akamaihd.net/ugc/1702907560644125017/90D2789D8C790F6C508929AF8172F314E7B661CB/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false"
             width="200"
             height="100">
        <h4> To confirm your email, please use the code below: </h4>
        <h1>${code}</h1>
    </div>
    <div id="line" style="height: 2px;
        background-color: yellow;"></div>
    <div class="footer" style="text-align: center;">
        <p>All rights reserved.</p>
        <p>2022</p>
        <a href="http://localhost:3000/me">
            <img id="logo" style="border-radius: 50%;" width="30" height="30" src="https://res.cloudinary.com/practicaldev/image/fetch/s--_b-IfdIg--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://cdn.hashnode.com/res/hashnode/image/upload/v1647410910018/spTELtuIz.jpeg">
        </a>

        <p>Made with love by Odeyalo</p>
    </div>
</div>
</body>
</html>
