<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" style=
        "margin: auto;
        width: 20%;
        border: 3px solid #660466;
        padding: 10px;">
    <div class="header" style="text-align: center;">
        <h1 class="text">Welcome to the Premium!</h1>
    </div>
    <div class="body" style="text-align: center;">
        <img src="https://image.myanimelist.net/ui/FgSQXwnU0GElnZ3SNgHOiGtCVBt53GucwQM9QNjHn-s3JylFg-1mkAsyhav3nLWwrja1rlJzAzoYksAxExyNJA" width="200" height="100">

        <p>Enjoy your favourite films, anime, cartoons without ads</p>
        <p>Videos in best quality</p>
        <p>Recommendations that always know what you want</p>
    </div>
    <div id="line" style="height: 2px;
        background-color: yellow;"></div>
    <div class="footer" style="text-align: center;">
        <p>All rights reserved.</p>
        <p>2022</p>
        <a href="http://localhost:3000/me">
            <img id="logo" style="border-radius: 50%;" width="30" height="30" src="https://res.cloudinary.com/practicaldev/image/fetch/s--_b-IfdIg--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://cdn.hashnode.com/res/hashnode/image/upload/v1647410910018/spTELtuIz.jpeg">
        </a>

        <p>Made with love by Odeyalo</p>
    </div>
</div>
</body>
</html>
