<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="container" style=
        "margin: auto;
        width: 30%;
        border: 3px solid #660466;
        padding: 10px;">
    <div class="header" style="text-align: center;">
        <div id="header">
            <p>Welcome to the Odeyalo.Neflix!</p>
        </div>
        <div id="body">
            <img src="https://i.pinimg.com/564x/23/45/40/2345404f549bdb239e453a7a1add7532.jpg" height="200" width="200">
            <h1>We are glad to see you on Odeyalo.Neflix!</h1>
            <p>I hope you will enjoy our service</p>
            <div id="help">
                <p>If you have any questions, do not be shy and write to our tech-support email</p>
                <a href="mailto:odeyalkonotification@gmail.com">
                    <button style="background-color: black;
                     border-radius: 50px;
                     height: 50px; width: 100px; border: 3px solid #660466 ">
                        Support
                    </button>
                </a>
                <p>If link doesn't opened, you can contact with us using this email: odeyalkonotification@gmail.com</p>
            </div>
        </div>
        <footer>
            <div id="line" style="height: 2px;
        background-color: yellow;"></div>
            <div class="footer" style="text-align: center;">
                <p>All rights reserved.</p>
                <p>2022</p>
                <a href="http://localhost:3000/me">
                    <img id="logo" style="border-radius: 50%;" width="30" height="30"
                         src="https://i.pinimg.com/564x/c2/78/62/c278624508a2e502644bf5ff0c4cdf93.jpg">
                </a>
                <p>Made with love by Odeyalo</p>
            </div>
        </footer>
    </div>
</div>
</body>
</html>
